{{#each erros}}
    <div class="alert alert-danger" >{{texto}}</div>
{{else}}

{{/each}}
<h3>Nova Instituição: </h3>

<div class="card">
    <div class="card-body">
        <form action="/admin/categorias/nova" method="POST">
            <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome" placeholder="Nome da instituição" class="form-control">
            <label for="endereco">Endereço: </label>
                <input type="text" id="endereco" name="endereco" placeholder="Endereço" class="form-control">
            <br>
            <button type="submit" class="btn btn-success">Adicionar</button>
        </form>
    </div>
</div>